<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../scripts/imagen.js">
   <link rel="stylesheet" href="../style/img.css">
   <title>Document</title>
</head>
<body>
   <h1>Messi</h1>
   <img id="imagen" 
   src="https://radiomitre-la100-prod.cdn.arcpublishing.com/resizer/STPUmnT05C3fcywW8SGWu2zLmN0=/filters:format(webp)/cloudfront-us-east-1.images.arcpublishing.com/radiomitre/SBN7IQA7PFE2JM4PVLL4EG7RYU.png" 
            onmouseover="cambiarImagen('https://images.wsj.net/im-688273/?width=1278&size=1')" 
            onmouseout="restaurarImagen('https://radiomitre-la100-prod.cdn.arcpublishing.com/resizer/STPUmnT05C3fcywW8SGWu2zLmN0=/filters:format(webp)/cloudfront-us-east-1.images.arcpublishing.com/radiomitre/SBN7IQA7PFE2JM4PVLL4EG7RYU.png')">  
            
   <script src="../scripts/imagen.js"></script>
</body>
</html>
